body {
    background-image: url('');
}


.hidden { display: none; }
.unhidden { display: block; } 

img{
    width: 100%;
    height: 100%;
}

section{
    width: 400px;
    height: 600px;
    border-radius: 40px;
    color:gainsboro;
}
.flip-card {
    background-color: transparent;
    width: 550px;
    height: 500px;
    padding: 7px;
    perspective: 1000px; /*Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: var(--blue);
    color: white;
    transform: rotateY(180deg);
  } 

  .title {
      position: absolute;
      width:100%;
      padding: 20px;
        background: var(--blue);
    color: white;
    font: var(--font2), 30px;
  }

  /* Container needed to position the overlay. Adjust the width as needed
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image to responsive */
  /* .image {
    width: 100%;
    height: auto;
  }
   */
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  /* .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  } */
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  /* .container:hover .overlay {
    transform: scale(1);
  }
   */
  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  /* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }  */ 