body {
    background-image: linear-gradient( white,black);
    width:100%;
}


.hidden { display: none; }
.unhidden { display: block; } 



.flip-card-image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

section{
    width: 400px;
    height: 600px;
    border-radius: 40px;
    color:gainsboro;
}
.flip-card {
    background-color: transparent;
    width: 550px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    perspective: 1000px; /*Remove this if you don't want the 3D effect */
  }
  @media (max-width: 360px) {
    .flip-card {
       width: 450px;
       height: 400px;
    } 

} 
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
  }
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 20px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: var(--blue);
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    border-radius: 20px;
  } 

.flip-card-back p{
    font: Roboto, 17px;
}
  .title {
    position: absolute;
    width:100%;
    padding: 20px;
    background: var(--blue);
    color: white;
    text-align: center;
    border-radius: 20px;
  }


.profile {
  width:300px;
  height:400px;
}