:root {
    --lightblue: #0B7589;
    --blue: #035D6E;    
    --pink: #F54639; 
    --red: #8B0A00; 
    --yellow: #DFA00C;	
    --dark-yellow: #B37E01;

    --font-one: 'Lato', san-serif;
    --font-two: 'Roboto', san-serif;
}